<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>    
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>

<body>
    <nav>
        <ul class="menu">
            <li>@Html.ActionLink("Main", "Index", "Home")</li>
        </ul>
    </nav>
    @RenderBody()
</body>
</html>
